@import url("./css/normalize.css");
@import url("./css/fonts.css");
@import url("./css/variables.css");
@import url("./css/generics.css");
@import url("./css/modificators.css");
@import url("./css/partials.css");

html {
	font-size: 16px;
}

body {
	display: block;
	min-width: 20rem;
	margin: 0;
	background: linear-gradient(
		to bottom,
		var(--background-color) 0% 50%,
		var(--main-color) 50% 100%
	);
}

header {
	display: block;
	position: fixed;
	z-index: 10;
	top: 0;
	right: 0;
	left: 0;
	min-width: 20rem;
	height: var(--height__header);
	background-color: var(--main-color);
}

.wrapper--scroll-area {
	display: grid;
	grid-template-areas:
		"main"
		"footer";
	grid-template-rows: 1fr var(--height__footer);
	margin: 0;
	padding: var(--height__header) 0 var(--height__tabbar);
}

main {
	grid-area: main;
	width: 100%;
	padding-bottom: 1.5rem;
	border-radius: 0 0 1.5rem 1.5rem;
	background: var(--background-color);
}

footer {
	display: flex;
	grid-area: footer;
	height: var(--height__footer);
	padding: 1.5rem;
}

@media (width >= 87.5rem) {
	header,
	.wrapper--scroll-area,
	main,
	footer {
		width: 100%;
	}
}
