@import url("./css/normalize.css");
@import url("./css/fonts.css");
@import url("./css/variables.css");
@import url("./css/generics.css");
@import url("./css/partials.css");

html {
	font-size: 16px;
}

body {
	display: block;
	min-width: 20rem;
	margin: 0;
	background-color: var(--main-color);
}

header {
	display: block;
	position: fixed;
	z-index: 10;
	top: 0;
	right: 0;
	left: 0;
	min-width: 20rem;
	height: var(--height__header);
}

.wrapper--scroll-area {
	display: grid;
	grid-template-areas:
		"main"
		"footer";
	grid-template-rows: 1fr var(--height__footer);
	height: calc(100vh - var(--height__tabbar));
	margin: 0;
	padding-top: var(--height__header);
}

main {
	grid-area: main;
	width: 100%;
	border-radius: 0 0 1.5rem 1.5rem;
	background-color: var(--background-color);
}

footer {
	display: flex;
	grid-area: footer;
	height: 4rem;
	padding: 1.5rem;
}
