.payment-method {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  gap: 0.5rem;
}

.payment-method .card .caption {
  font-size: inherit;
  font-style: normal;
  font-weight: inherit;
  line-height: inherit;
}
