.radio {
  position: absolute;
  z-index: -1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  opacity: 0;
}

.radio-label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  gap: 0.25rem;
}

.radio + .radio-label::before {
  content: "";
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 1rem;
  height: 1rem;
  margin-right: 0.5em;
  -webkit-transition: border 0.1s linear;
  transition: border 0.1s linear;
  border: 0.0625rem solid rgba(0 0 0 / 20%);
  border-radius: 50%;
  background-color: var(--white);
  background-size: 50% 50%;
}

.radio:not(:disabled):active + .radio-label::before {
  border: 0.25rem solid rgba(203 17 171 / 75%);
}

.radio:focus + .radio-label::before,
.radio:not(:disabled, :checked) + .radio-label:hover::before,
.radio:focus:not(:checked) + .radio-label::before {
  -webkit-box-shadow: 0 0 0 0.125rem rgba(203 17 171 / 25%);
          box-shadow: 0 0 0 0.125rem rgba(203 17 171 / 25%);
}

.radio:checked + .radio-label::before {
  border: 0.3125rem solid var(--accent-color);
  border-color: var(--accent-color);
}
