:root {
  --z-index__modal: 100;
}

.modal {
  display: none;
  position: fixed;
  z-index: var(--z-index__modal);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: rgba(5 0 10 / 30%);
  inset: 0;
}

.show {
  display: flex;
}

.modal__content {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding: 1rem;
  transform: translateX(-5rem);
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
  opacity: 0;
  background-color: var(--white);
  box-shadow: none;
}

.modal__title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 0.0625rem;
  margin-bottom: 0.825rem;
}

.modal__close {
  display: flex;
  align-content: flex-end;
  margin: 0.25rem -0.25rem 0 0;
  transition: opacity 0.1s linear;
  border: none;
  background: none;
  cursor: pointer;
}

.modal__close:hover {
  opacity: 1;
}

.modal__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.modal__radio {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  align-self: stretch;
}

.modal__radio-wrapper {
  display: flex;
  align-items: center;
	justify-content: space-between;
  gap: 0.75rem;
  align-self: stretch;
}

.modal__radio-wrapper p {
  margin-left: 0.25rem;
}

.modal__radio-wrapper .card_icon {
  margin: 0;
}

.modal__button .btn-main {
  width: 100%;
  padding: 0 3rem;
}

@media (width >= 64rem) {
  .modal__content {
    width: auto;
    min-width: 25rem;
    height: 25.5rem;
    margin-top: -0.75rem;
    margin-left: -0.325rem;
    padding: 1rem 1.5rem 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 4px 10px 0 rgba(0 0 0 / 20%);
  }

  .modal__title {
    margin-top: -0.0625rem;
  }

  .modal__button .btn-main {
    width: auto;
  }
}
