.radio {
  position: absolute;
  z-index: -1;
  box-sizing: border-box;
  opacity: 0;
}

.radio-label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  gap: 0.25rem;
}

.radio + .radio-label::before {
  content: "";
  display: inline-block;
  box-sizing: border-box;
  flex-grow: 0;
  flex-shrink: 0;
  width: 1rem;
  height: 1rem;
  margin-right: 0.5em;
  transition: border 0.1s linear;
  border: 0.0625rem solid rgba(0 0 0 / 20%);
  border-radius: 50%;
  background-color: var(--white);
  background-size: 50% 50%;
}

.radio:not(:disabled):active + .radio-label::before {
  border: 0.25rem solid rgba(203 17 171 / 75%);
}

.radio:focus + .radio-label::before,
.radio:not(:disabled, :checked) + .radio-label:hover::before,
.radio:focus:not(:checked) + .radio-label::before {
  box-shadow: 0 0 0 0.125rem rgba(203 17 171 / 25%);
}

.radio:checked + .radio-label::before {
  border: 0.3125rem solid var(--accent-color);
  border-color: var(--accent-color);
}
