.white-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  width: 100%;
  padding: 1rem 1rem 1.5rem;
  border-radius: 1rem;
  background: var(--white);
}

.white-section_title {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  gap: 0.625rem;
}

.white-section_title h3 {
  margin: 0;
}

@media (width >= 64rem) {
  .white-section {
    margin-top: 0;
    padding: 1rem 1.5rem 1.5rem;
    border-radius: 1rem;
  }

  .white-section_title h3 {
    margin: 0;
  }

  .white-section_title {
    margin-bottom: 1rem;
  }
}
