:root {
	--main-color: #6725a8;
	--accent-color: #cb11ab;
	--attention-color: #f55123;
	--attention-color--darker: #ff3b30;
	--attention-second-color: #0cb477;
	--not-active-color: #ccc;
	--white: #fff;
	--gray: #a0a0a4;
	--black: #000;
}

#main,
#catalog,
#cart,
#favorites,
#profile {
	fill: var(--not-active-color);
}

#main:hover,
#catalog:hover,
#cart:hover,
#favorites:hover,
#profile:hover {
	fill: var(--accent-color);
}

#catalog:active {
	fill: var(--attention-second-color);
}
