.basket-sidebar {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	min-width: 20rem;
	height: max-content;
	padding: 0.5rem 1rem 0;
	border-radius: 1rem;
	background: var(--background-color);
	gap: 1.5rem;
	box-shadow: var(--main-shadows);
}

.basket-sidebar__price {
	display: grid;
	grid-template-columns: 1fr auto;
	width: 100%;
	gap: 0.5rem;
}

.basket-sidebar__price--total {
	display: flex;
	align-items: flex-end;
	margin-bottom: 0.5rem;
}

.basket-sidebar__total {
	display: flex;
	align-items: flex-start;
	align-self: stretch;
	justify-content: space-between;
}

@media (width >= 64rem) {
	.basket-sidebar {
		display: flex;
		flex-direction: column;
		align-items: center;
		min-width: 19rem;
		margin-top: -0.75rem;

		/* на макете блок на 1 px сдвинут. поэтому сделал calc в padding-left ниже */
		padding: 1rem calc(1.5rem + 1px) 1.5rem 1.5rem;
		background: var(--white);
		box-shadow: var(--main-shadows);
	}

	.basket-sidebar__price {
		gap: 0;
	}

	.basket-sidebar__price h3 {
		margin: 0;
	}
}

@media (width >= 87.5rem) {
	.basket-sidebar {
		min-width: 26.8125rem;
		padding: 1rem 1.5rem 1.5rem;
	}
}
