:root {
	--width__sidebar: auto;
}

.basket {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	min-width: 20rem;
	padding: 0;
	gap: 1rem;
	background: transparent;
}

.basket__content,
.basket__sidebar {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
	height: max-content;
	padding: 0 1rem;
}

.basket__content {
	height: 2298px;
}

.basket__sidebar {
	width: var(--width__sidebar);
	padding-top: 0.5rem;
	padding-bottom: 1rem;
	gap: 1.5rem;
	border-radius: 1rem 1rem 0 0;
	background: var(--background-color);
}

.basket__content_layout {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 2.5rem;
}

.basket__submit {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 0.75rem;
	align-self: stretch;
}

.basket__submit_agreement {
	display: flex;
	align-items: flex-start;
	gap: 0.5rem;
	align-self: stretch;
}

.basket__submit_agreement img {
	min-width: 0.8125rem;
	height: 1.5rem;
}

@media (width >= 64rem) {
	:root {
		--width__sidebar: 19rem;
	}

	.basket {
		flex-direction: row;
		align-items: flex-start;
		padding: 0.625rem 1.5rem 1rem;
		gap: 2rem;
	}

	.basket h1 {
		margin: 0;
	}

	.basket__content {
		flex: 1 0 0;
		width: calc(100% - var(--width__sidebar) - 3rem);
		height: 113rem;
		gap: 1.6875rem;
		padding: 0;
	}

	.basket__content_layout {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: 100%;
		min-width: 40rem;
		gap: 2.5rem;
	}

	.basket__content_supplies {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: 100%;
		gap: 1rem;
	}

	.basket__content_order-details {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: 100%;
		gap: 1rem;
	}

	.basket__sidebar {
		display: flex;
		position: sticky;
		z-index: 11;
		top: calc(var(--height__header) - 0.125rem);
		flex-direction: column;
		align-items: center;
		margin-top: -0.75rem;
		gap: 1.5rem;

		/* на макете блок на 1 px сдвинут. поэтому сделал calc в padding-left ниже */
		padding: 1rem calc(1.5rem + 1px) 1.5rem 1.5rem;
		border-radius: 1rem;
		background: var(--white);
		box-shadow: var(--main-shadows);
	}
}

@media (width >= 87.5rem) {
	:root {
		--width__sidebar: 26.8125rem;
	}

	.basket {
		width: 87.5rem;
		margin: 0 auto;
	}

	.basket__sidebar {
		padding: 1rem 1.5rem 1.5rem;
	}
}
