.client,
.client_field,
.client_input,
.client_label,
.client_field--name {
	width: 100%;
	transition: color 0.1s linear;
	color: var(--gray);
}

.client {
	display: grid;
	grid-template-columns: 1fr;
	align-self: start;
	width: 100%;
	max-width: 43.75rem;
	margin-bottom: 0.125rem;
	gap: 1rem;
}

.client_field,
.client_field--name {
	display: flex;
	position: relative;
	flex-direction: column;
	align-items: flex-start;
	align-self: stretch;
	justify-content: center;
	margin-bottom: 0.125rem;
	padding: 1rem 0;
	gap: 0.1875rem;
}

.client_input {
	box-sizing: border-box;
	padding: 0;
	border: none;
	line-height: 1.375rem;
	outline: transparent;
	color: var(--black);
}

.client_label {
	position: absolute;
	top: 0.875rem;
	left: -0.0625rem;
	transition: color 0.1s linear, top 0.1s linear, font-size 0.1s linear;
}

.client_field::before,
.client_field--name::before {
	content: " ";
	position: absolute;
	top: 78%;
	left: 0;
	width: 100%;
	height: 0.0625rem;
	background-color: rgba(0 0 0 / 10%);
}

.client_note,
.client_error {
	position: absolute;
	top: 85%;
	color: var(--black);
	font-size: 0.75rem;
	font-style: normal;
	font-weight: 400;
	line-height: 0.875rem;
}

/* смещение label */
.client_input:active + .client_label,
.client_input:focus + .client_label,
.client_input:hover + .client_label,
.client_input--has-value .client_label,
.client_field--empty .client_label {
	top: -0.1875rem;
	font-size: var(--font-size_text--s);
	font-style: normal;
	font-weight: var(--font-weigth_text--s);
	line-height: var(--line-height_text--s);
}

/* ошибки */
.client_error,
.client_input--error,
.client_field--empty .client_label,
.client_input--empty .client_input::placeholder {
	color: var(--attention-color);
}

.client_input--has-value .client_field::before,
.client_input--has-value .client_field--name::before {
	background-color: var(--attention-color);
}

@media (width >= 64rem) {
	.client {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		row-gap: 0.5rem;
		column-gap: 1.25rem;
	}

	.client_field--name {
		grid-column: span 3;
	}

	.client_field {
		grid-column: span 2;
	}

	.client_field,
	.client_field--name {
		flex-direction: column;
		align-items: flex-start;
		align-self: stretch;
		justify-content: center;
		padding: 1.125rem 0 1rem;
		gap: 0;
	}
}
